/* CARD */

.Card {
  background: var(--card-bg);
  border-radius: 0.3rem;
  /* max-height: 30em; */
  display: grid;
  transition: 0.5s;
}

.Card:hover {
  cursor: pointer;
  box-shadow: var(--card-shadow);
  transform: scale(1.05);
}
.CardBody {
  padding: 1.25rem;
  overflow-y: auto;
  font-size: 0.7rem;
  display: grid;
  gap: 1rem;
}
.CardHeader {
  display: flex;
  justify-content: space-between;
  color: var(--h-color);
  gap: 0.5rem;
}

.ProductLeft {
  position: relative;
  /* height: 20rem; */
  aspect-ratio: 4/5;
  max-height: 30rem;
}

.ProductRight {
  display: grid;
  gap: 1rem;
}

.ProductPrice {
  color: red;
}

.ProductImage {
  border-radius: 0.3rem;
}

.ProductContainer {
  /* background: var(--card-bg); */
  border-radius: 0.3rem;

  /* padding: 1rem; */
  gap: 1rem;
  width: 100%;

  display: flex;
  flex-wrap: wrap;
}

.ProductContainer > * {
  flex: 1 1 20rem;
}

.Heading {
  color: var(--h-color);
}

.MoreProductsContainer {
  display: flex;
  overflow-x: auto;
  max-width: 70vw;
  gap: 1rem;
  padding: 1rem;
}
.MoreProductsContainer > * {
  flex: 1 0 15rem;
}

.Wrapper {
  display: grid;
  height: fit-content;
  gap: 1rem;
}

.ProductDesc {
  max-width: 75ch;
  white-space: break-spaces;
}

.Image {
  position: relative;
  /* max-height: 30rem; */
  aspect-ratio: 4 / 5;
}

.Desc {
  max-width: 22ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: break-spaces;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
