* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.dark-theme {
  --background: var(--gray6);
  --background-opacity: #12181b95;
  --text-color: var(--gray2);
  --h-color: var(--highlight-light-color);
  --nav-shadow: 4px 0 10px -3px #010101;
  --card-shadow: 0 4px 8px rgba(0, 0, 0, 0.38);
  --toc-shadow: rgba(0, 0, 0, 0.7) 0px 10px 20px 0px;
  --nav-bg: var(--gray5);
  --tag-bg: var(--gray4);
  --code-bg: #22262f;
  --card-bg: var(--gray5);
  --overlay-bg: rgba(0, 0, 0, 0.9);
  --h-border: 2px dashed var(--nav-bg);
  --nav-border: 2px dashed var(--text-color);
  --card-border: 1px solid var(--nav-bg);
  --card-radius: 0.25em;
  transition: all 0.3s ease;
}

.light-theme {
  --background: var(--gray1);
  --background-opacity: #f8f8f895;
  --text-color: var(--gray4);
  --h-color: var(--highlight-dark-color);
  --nav-shadow: 4px 0 10px -3px #c1c1c1;
  --card-shadow: 0 4px 8px rgba(0, 30, 84, 0.12);
  --toc-shadow: rgba(0, 0, 0, 0.2) 0px 10px 20px 0px;
  --nav-bg: #fff;
  --tag-bg: var(--gray2);
  --code-bg: #fff;
  --card-bg: #fff;
  --overlay-bg: hsla(0, 0%, 100%, 0.9);
  --h-border: 2px dashed var(--gray1);
  --nav-border: 2px dashed var(--text-color);
  --card-border: 1px solid var(--gray1);
  transition: all 0.3s ease;
}

:root {
  --primary-color: #4834d4;
  --red: #ff3860;
  --red-dark: #ff1443;
  --red-light: #ff5c7c;
  --blue: #498afb;
  --blue-dark: #2674fa;
  --blue-light: #6ca0fc;
  --orange: #fa8142;
  --orange-dark: #f96a1f;
  --orange-light: #fb9865;
  --green: #09c372;
  --green-dark: #07a15e;
  --green-light: #0be586;
  --purple: #9166cc;
  --purple-dark: #7d4bc3;
  --purple-light: #a481d5;
  --ff0: #ffdd57;
  --ff0-dark: #ffd633;
  --ff0-light: #ffe47a;
  --pink: #ff4088;
  --pink-dark: #ff1c72;
  --pink-light: #ff649e;
  --gray0: #f8f8f8;
  --gray1: #dbe1e8;
  --gray2: #b2becd;
  --gray3: #6c7983;
  --gray4: #454e56;
  --gray5: #2a2e35;
  --gray6: #12181b;
  --nav-height: 4em;
  --first-container-height: calc(100vh - var(--nav-height));
  --font-body: 'sofia-pro', sans-serif;
  --font-head: 'Anton', sans-serif;
  --font-code: 'attribute-mono', monospace;
  --font-size: 20px;
  --max-width-bp: 768px;
  --orange-pink: linear-gradient(
    to bottom right,
    var(--orange-light),
    var(--orange-dark) 85%
  );
  --blue-grad: linear-gradient(
    298deg,
    rgba(0, 17, 139, 1) 38%,
    rgba(0, 212, 255, 0) 100%
  );
  --green-grad: linear-gradient(
    to bottom right,
    var(--green-light),
    var(--green-dark) 85%
  );
  --background: var(--gray6);
  --background-opacity: #12181b95;
  --text-color: var(--gray2);
  --highlight-light-color: white;
  --highlight-dark-color: var(--gray6);
  --h-color: var(--highlight-light-color);
  --nav-shadow: 4px 0 10px -3px #010101;
  --nav-shadow-bottom: 0px 15px 10px -20px #010101;
  --card-shadow: 0 4px 8px rgba(0, 0, 0, 0.38);
  --toc-shadow: rgba(0, 0, 0, 0.7) 0px 10px 20px 0px;
  --nav-bg: var(--gray5);
  --tag-bg: var(--gray4);
  --code-bg: #22262f;
  --card-bg: var(--gray5);
  --overlay-bg: rgba(0, 0, 0, 0.9);
  --h-border: 2px dashed var(--nav-bg);
  --nav-border: 2px dashed var(--text-color);
  --card-border: 1px solid var(--nav-bg);
  --card-radius: 0.25em;

  --box-shadow1: 0 8px 8px -4px lightblue;

  transition: all 0.3s ease;
}

::selection {
  background: var(--primary-color);
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background-color: var(--background);
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
}

html,
body {
  scroll-behavior: smooth;
}

.appcss {
  background: var(--background);
  color: var(--text-color);
  display: grid;
  font-family: var(--font-body);
  font-size: var(--font-size);
  margin: 0;
  min-height: 100vh;
  max-width: 100vw;
}

.container {
  min-width: 50vw;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
}

main {
  margin-top: var(--nav-height);
}

/* ------------Button--------------- */
.btn {
  color: var(--text-color);
  font-size: 1rem;
  padding: 10px 30px;
  background: none;
  border: 2px solid var(--text-color);
  transition: 0.3s;
  font-weight: 600;
}
.btn:hover {
  cursor: pointer;
  color: var(--primary-color);
  border-color: var(--primary-color);
  background-color: var(--background);
  box-shadow: 2px 5px;
}

.btn-white:hover {
  color: black;
  border-color: white;
  background-color: white;
}

.btn-blue:hover {
  color: black;
  border-color: var(--blue-dark);
  background-color: var(--blue-dark);
}

.btn:active {
  transform: scale(0.95);
  box-shadow: 0px 0px;
}

@media (max-width: 768px) {
  :root {
    --font-size: 15px;
    --nav-height: 3em;
  }
}

/* --------Footer----------- */
.FooterContainer {
  font-size: 12px;
  width: 100%;
  min-height: 300px;
}

.FooterSocialLinks > * {
  transition: 0.3s;
  color: var(--text-color);
}

.FooterSocialLinks {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.FooterSocialLink:hover {
  cursor: pointer;
  color: var(--h-color);
}

a {
  color: var(--primary-color);
}

/* Products Container */
.ProductsContainer {
  display: grid;
  width: 100%;
  grid-gap: 1rem;
  /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  grid-template-columns: repeat(5, minmax(100px, 1fr));
  /* grid-auto-flow: column; */
}

@media (max-width: 1024px) {
  .ProductsContainer {
    grid-template-columns: repeat(3, minmax(100px, 1fr));
  }
}

@media (max-width: 768px) {
  .ProductsContainer {
    grid-template-columns: repeat(2, minmax(100px, 1fr));
  }
}

@media (max-width: 500px) {
  .ProductsContainer {
    grid-template-columns: repeat(1, minmax(100px, 1fr));
  }
}
