.videoTag {
  box-shadow: var(--nav-shadow);
}

.HeroSection {
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  /* grid-template-columns: auto; */
}

.gradient {
  background: var(--primary-color);
  background-clip: text;
  color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-head) !important;
  font-weight: 400 !important;
}
.pt-5 {
  padding-top: 5rem !important;
}

video {
  width: 80%;
}

.grid {
  display: grid;
  padding: 1rem;
}

.place-center {
  place-items: center;
}

.text-center {
  text-align: center;
}

.fr2 {
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
}
.w-100 {
  width: 100%;
}

@media (max-width: 768px) {
  .fr2 {
    gap: 1rem;
    grid-template-columns: 1fr;
  }
}
