.videoTag {
  width: 100%;
}

.HeroSection {
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  /* grid-template-columns: auto; */
  padding-top: 50px;
  padding-bottom: 50px;
}
.HeroSection2 {
  width: 100%;
  display: grid;
  place-items: center;
  min-height: 100vh;
  align-content: center;
  text-align: center;
  /* padding: 1.25rem; */
}

.gradient {
  background: var(--primary-color);
  background-clip: text;
  color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-head) !important;
  font-weight: 400 !important;
}

h1 {
  user-select: none;
}
.pt-1 {
  padding-top: 1rem;
}
.pt-2 {
  padding-top: 2rem;
}
.pt-3 {
  padding-top: 3rem !important;
}
.pt-4 {
  padding-top: 4rem !important;
}
.pt-5 {
  padding-top: 5rem !important;
}
.pb-5 {
  padding-bottom: 5rem !important;
}
.landingScroll {
  cursor: pointer;
}

.landingLinks {
  font-family: var(--font-body) !important;
}

.landingLinks:hover {
  cursor: pointer;

  color: var(--h-color);
}

video {
  width: 80%;
}

.grid {
  display: grid;
  padding: 1rem;
}

.place-center {
  place-items: center;
}

.text-center {
  text-align: center;
}

.fr2 {
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 768px) {
  .fr2 {
    gap: 1rem;
    grid-template-columns: 1fr;
  }
}

/* ---------------Animations--------- */
.blinkAnim {
  animation: blink 3s ease 0s infinite normal forwards;
}

@keyframes blink {
  0%,
  50%,
  100% {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}
