@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.topnav {
  display: flex;
  justify-content: space-between;
  height: var(--nav-height);
  width: 100%;
  position: fixed;
  transition: top 0.3s ease;
  background-color: var(--nav-bg);
  box-shadow: var(--nav-shadow);
  z-index: 1;
}

.navitem {
  height: 100%;
  display: grid;
  place-items: center;
  text-decoration: none;
  color: var(--text-color);
  font-family: 'Anton', sans-serif;
  margin: 0 1em;
  transition: 0.3s;
}
.navitem:hover {
  cursor: pointer;
  color: var(--h-color);
}

.topnav-links {
  display: flex;
  justify-content: center;
}

.logo {
  font-family: 'Pacifico', cursive;
}

.show-sm {
  display: none;
}

@media (max-width: 768px) {
  .hide-sm {
    display: none;
  }
  .show-sm {
    display: grid;
  }
  .openmenu {
    display: grid;
    padding: 20px 0px;
    gap: 20px;

    width: 100%;
    position: absolute;
    top: var(--nav-height);
    background-color: var(--nav-bg);
    transition: height 0.3s;

    box-shadow: var(--nav-shadow-bottom);
  }
}

/* ------------------------Modal---------------------- */
.modalContainer {
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100%;
  position: fixed;
  background-color: var(--overlay-bg);
  z-index: 1;
  backface-visibility: hidden;
}
.Hide {
  animation: SwingOut 0.3s ease 0s 1 normal forwards;
  display: none;
}
.Show {
  animation: SwingIn 0.3s ease 0s 1 normal forwards;
}

.modalCard {
  display: grid;
  background-color: var(--card-bg);
  padding: 2rem;
  min-width: 500px;
  border: 2px solid var(--primary-color);
}
.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modalCloseBtn {
  transition: 0.3s;
}
.modalCloseBtn:hover {
  cursor: pointer;
  color: var(--primary-color);
  transform: scale(1.01);
}

.modalBody {
  padding-top: 50px;
  padding-bottom: 20px;
  font-weight: 500;
  display: grid;
  gap: 20px;
}

@media (max-width: 768px) {
  .modalCard {
    min-width: 230px;
  }
}

.input {
  width: 100%;
  background: none;
  border: none;
  border-bottom: 2px solid var(--h-color);
  transition: 0.3s;
  height: 3rem;
  font-size: 1rem;
  color: var(--h-color);
  padding: 10px;
}
.input:focus-visible {
  outline: none;
  background-color: var(--background-opacity);
  border-radius: 2px;
  border-bottom: 2px solid var(--primary-color);
  color: var(--text-color);
}

.flex {
  display: flex;
}
.justify-center {
  justify-content: center;
}
.align-center {
  align-items: center;
}

@keyframes scaleinAnim {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes scaleoutAnim {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes SwingIn {
  0% {
    opacity: 0;
    transform: rotateX(-100deg);
    transform-origin: top;
  }

  100% {
    opacity: 1;
    transform: rotateX(0deg);
    transform-origin: top;
  }
}

@keyframes SwingOut {
  0% {
    opacity: 1;
    transform: rotateX(0deg);
    transform-origin: top;
  }

  100% {
    opacity: 0;
    transform: rotateX(70deg);
    transform-origin: top;
  }
}
