@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.topnav {
  display: flex;
  justify-content: space-between;
  height: var(--nav-width);
  width: 100%;
  position: fixed;
  transition: top 0.3s ease;
  background-color: var(--nav-bg);
  box-shadow: var(--nav-shadow);
}

.navitem {
  height: 100%;
  display: grid;
  place-items: center;
  text-decoration: none;
  color: var(--text-color);
  font-family: 'Anton', sans-serif;
  margin: 0 1em;
  transition: 0.3s;
}
.navitem:hover {
  cursor: pointer;
  color: var(--h-color);
}

.topnav-links {
  display: flex;
  justify-content: center;
}

.logo {
  font-family: 'Pacifico', cursive;
}

.show-sm {
  display: none;
}

@media (max-width: 768px) {
  .hide-sm {
    display: none;
  }
  .show-sm {
    display: grid;
  }
  .openmenu {
    display: grid;
    padding: 20px 0px;
    gap: 20px;

    width: 100%;
    position: absolute;
    top: var(--nav-width);
    background-color: var(--nav-bg);
    transition: height 0.3s;

    box-shadow: var(--nav-shadow-bottom);
  }
}

/* ------------------------LOGIN Hover------------------------------------ */
.loginContainer {
  display: grid;
  place-items: center;
  height: calc(100vh - var(--nav-width));
  width: 100vw;
  position: absolute;
  top: var(--nav-width);
  background-color: var(--overlay-bg);
}
.Hide {
  animation: SwingOut 0.3s ease 0s 1 normal forwards;
  display: none;
}
.Show {
  animation: SwingIn 0.3s ease 0s 1 normal forwards;
}
/* .loginHover:hover .loginContainer {
  display: absolute;
  top: 100px;
  background-color: black;
} */

/* .container {
  max-width: 1500px;
} */

.flex {
  display: flex;
}
.justify-center {
  justify-content: center;
}
.align-center {
  align-items: center;
}

@keyframes scaleinAnim {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes scaleoutAnim {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes SwingIn {
  0% {
    opacity: 0;
    transform: rotateX(-100deg);
    transform-origin: top;
  }

  100% {
    opacity: 1;
    transform: rotateX(0deg);
    transform-origin: top;
  }
}

@keyframes SwingOut {
  0% {
    opacity: 1;
    transform: rotateX(0deg);
    transform-origin: top;
  }

  100% {
    opacity: 0;
    transform: rotateX(70deg);
    transform-origin: top;
  }
}
